In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data=pd.read_csv(r"C:\Users\hegde\Desktop\DS Ass Qst\Q9_b.csv")

In [3]:
data

    Unnamed: 0          SP         WT
0            1  104.185353  28.762059
1            2  105.461264  30.466833
2            3  105.461264  30.193597
3            4  113.461264  30.632114
4            5  104.461264  29.889149
..         ...         ...        ...
76          77  169.598513  16.132947
77          78  150.576579  37.923113
78          79  151.598513  15.769625
79          80  167.944460  39.423099
80          81  139.840817  34.948615

[81 rows x 3 columns]

In [4]:
data2=data.iloc[:,1:]
data2

            SP         WT
0   104.185353  28.762059
1   105.461264  30.466833
2   105.461264  30.193597
3   113.461264  30.632114
4   104.461264  29.889149
..         ...        ...
76  169.598513  16.132947
77  150.576579  37.923113
78  151.598513  15.769625
79  167.944460  39.423099
80  139.840817  34.948615

[81 rows x 2 columns]

In [5]:
# Skewness
data2.skew()

SP    1.611450
WT   -0.614753
dtype: float64

In [6]:
# Kurtosis
data2.kurt()

SP    2.977329
WT    0.950291
dtype: float64